<div >@User.Identity.Name</div>
<div>
   <div class="float-left"> @Html.ActionLink("Mes notifications", "Notifications", "Account") </div>
   <div class="float-left"> notification </div>
   <div class="float-left">  @Html.ActionLink("Deconnexion", "LogOut", "Account") </div>
   <div class="clear"></div>
</div>


