<div >@User.Identity.Name</div>
<div>
   <div class="float-left"> notification </div>
   <div class="float-left"> notification </div>
   <div class="float-left"> notification </div>
   <div class="clear"></div>
</div>


