h2
{
    margin:0px;

}

.main
{
    width:700px;
    background:white;
    border:2px solid #ff893a;
    border-radius:10px;
}

.section_title
{
    height:40px;
    width:260px;
    margin-top:-20px;
    margin-bottom:15px;
    margin-left:10px;
    padding-left:5px;
    color:#333333;
    background:white;
    font-size:30px;
    font-weight:bold;
}

/*Item*/
.item
{
    height:160px;
    margin-bottom:10px;
    color:#333333;
    background:white;
      /*  border: 2px solid #ff893a;
    border-radius:10px;*/
    /*background: #0185e1 url("Images/bg_list.gif") 100% 100% repeat-x;*/
   /* background:#dadada;*/
    padding-left:20px;
    padding-right:20px;
}

.flyers
{
    border:1px solid #518cf2;
}

.item_content
{
    background: white;
    width:100%;
    margin-top:10px;
    height:160px;
}
.main_infos
{
    color:#518cf2;
}
.item_titre
{
    font-size:24px;
}

.infos
{
   margin-left:20px;
   width: 500px;
}

.info1
{
    font-size:16px;
}

.item_separator
{
    width:600px;
    margin:auto;
    border-bottom:1px solid #AAA;
}