/*GENERAL*/
.float-left
{
	float:left;
}

.float-right
{
	float:right;
}
 
.clear
{
	clear:both;
}

body
{
    width:1000px;
    margin:auto;
}

a
{
    text-decoration:none;
}

li
{
    list-style-type:none;
	/*padding-left:0px;*/
}

/*HEADER */
#banniere
{
    background-color:Blue;
    width:1000px;
    height: 150px;
}

#connect
{
    margin-right:70px;
    margin-top:20px;
}

#open_connect:hover
{
    cursor:pointer;
}

#connect_panel
{
    height:50px;
    width:200px;
    border: 2px solid black;
}

/*MENU*/

#menu li
{
    display:inline;
}