/*GENERAL*/
.float-left
{
	float:left;
}

.float-right
{
	float:right;
}
 
.clear
{
	clear:both;
}
.remove_marge
{
    margin:0px;
	padding:0px;
}

body
{
    margin:0px;
    min-height:100%;
    font-family: Verdana;
    font-size:12px;
    background: url("Images/yt_bg_60.png");
}

a
{
    text-decoration:none;
    color:#518CF2;
}

li
{
    list-style-type:none;
	/*padding-left:0px;*/
}

/*HEADER */

header
{
    width:100%;
}
#banniere
{
    background-image: url("Images/header.png");
    background-repeat: repeat-x ;
    height: 145px;
}

.center
{
    width:1100px;
    margin:auto;
    padding-top:14px;
}

#concertfinder
{
    color:white;
    font-size: 60px;
    margin-top:14px;
    margin-left:20px;
}

#connect
{
    margin-right:20px;
    width:255px;
}

#open_connect:hover
{
    cursor:pointer;
}

#open_connect
{
	color:white;
	margin-left:104px;
	font-family: Copperplate Gothic Bold;
	font-weight:bold;
	font-size:14px;
}

#connect_panel
{
   /* height:50px;*/
    width:250px;
    border: 2px solid #ff893a;
    background : #f4f4f4;
    border-radius:5px;
    box-shadow: -4px 6px 5px black;
    
}

#bienvenue
{
    margin:10px;
    padding-left:10px;
    font-weight:bold;
    font-style:italic;
}

#logo_content
{
    padding: 0px 10px 10px 10px;
}

.notif_logo
{
    width: 30px;
    height: 30px;
    background: url(Images/sprite_logo.png) no-repeat;
    background-position: -4px -5px;
    display: block;
    float: left;
    margin-left: 10px;
}

.parametre_logo
{
    width: 30px;
    height: 30px;
    background: url(Images/sprite_logo.png) no-repeat;
    background-position: -4px -40px;
    display: block;
    float: left;
    margin-right: 60px;
}

.logout_logo
{
    width: 30px;
    height: 30px;
    background: url(Images/sprite_logo.png) no-repeat;
    background-position: -6px -76px;
    display: block;
    float: left;
}

.connexion_lbl
{
    margin-left: 5px;
    margin-top: 2px;
}

.connexion_form
{
    margin-right: 5px;
    margin-top: 2px;
}

#connexion_form
{
    padding-left:5px;
    padding-top:5px;
    padding-right:8px;
}

#register_form
{
    padding-left:5px;
    padding-right:10px;
}

#pseudo_form .connexion_form
{
    margin-left:30px;
}

#password_form .connexion_form
{
    margin-left:15px;
}

/*MENU*/

#menu_left_corner
{
}

#menu
{
   /* background: #de5901;*/
   margin:auto;
   height:60px;
   background: url("Images/victory.png");
    font-family:Arial;
}

#menu_content
{
   margin-top:0px;
   margin-bottom:0px;
   width:1100px;
   margin:auto;
   height:100%;
}

#menu ul
{
   /* background: #de5901;*/
   padding:0px;
   width:1062px;
   margin:auto;
   background: url("Images/nav.png");
   margin-top:0px;
   margin-bottom:0px;
   height:30px;
   padding-top:15px;
   padding-bottom:15px;
}

#menu a 
{
    color:white;
    font-weight:bold;
    font-size: 14px;
}

#menu a:hover
{
   color:#333333;
}


.menu_item_first
{
    padding-top:10px;
    height:25px;
}
.menu_item
{
    padding-top:10px;
    margin-left:15px;
    padding-left:10px;
    border-left:1px solid #FFAD6C;
    height:20px;
}

#SearchBar
{
    margin-right:10px;
}

/*Page*/
.page
{
   width:1100px;
   margin:auto;
   background:white;
   margin-top:0px;
   padding-top:30px;
   padding-bottom:20px;
   height:100%;
   background: url("Images/yt_bg_60.png");  
}


.custom_button
{
    text-align:center;
    border-radius: 5px;
    background: #363636;
    background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#2C2C2C));
    border-radius: 5px;
    border: 1px outset black;
    text-shadow: 1 1px 0 rgba(255, 255, 255, 0.2);
    text-decoration: none;
    font-weight: bold;
    padding: 4px;
    margin:auto;
}

.custom_button a
{
    color: #FF893A;
}

.custom_button:hover
{
    background: #363636;
    background: -webkit-gradient(linear,left top,left bottom,from(#777),to(#333));
    text-shadow: 1 1px 0 rgba(255, 255, 255, 0.2);
    cursor: pointer;   
}

.custom_button:hover a
{
    color:white;
}

.custom_button:active
{
    color:white;
    border: 1px outset #FF893A;
}

