@model List<ConcertFinderMVC.Models.EventItem>


<div class="section">
    <div class="lastAdded_title">Derniers Ajouts</div>
    <ul>
    @foreach (ConcertFinderMVC.Models.EventItem item in Model)
    {
        <li id="item_lastadd">
            <p class="quick_title">@Html.ActionLink(item.Titre, "Detail", "Event", new { id = item.Id }, null)</p>
            <p class="quick_infos">A Paris, le @item.StartDate</p>
        </li>
    }
    </ul>
    <div class="custom_button add_event_link"> @Html.ActionLink("Ajouter un événement", "CreateEvent", "Event")</div>
</div>