@model List<ConcertFinderMVC.Models.EventItem>


<div class="section">
    <div class="lastAdded_title">Derniers Ajouts</div>

    @foreach (ConcertFinderMVC.Models.EventItem item in Model)
    {
            <div class="quick_title">@Html.ActionLink(item.Titre, "Detail", "Event", new { id = item.Id }, null)</div>
            <div class="quick_infos">A Paris, le @item.StartDate</div>
    }
</div>