@model ConcertFinderMVC.Models.ForgotPasswordModel

@using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <p>Veuillez entrer votre adresse email.</p>
    
    <div>
        <span>
            @Html.LabelFor(m => m.Email)
        </span>
        <span>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </span>
    </div>
    
    <div>
        <input type="submit" value="Envoyer" />
    </div>
}