@model ConcertFinderMVC.Models.AdminModels

@{
    ViewBag.Title = "AdminEvent";
}

<h2>AdminEvent</h2>
<ul>
            <li>@Html.ActionLink("Gerer les utlisateurs", "ManageUser", "Admin")</li>
</ul>