@model ConcertFinderMVC.Models.ForbidForm

@{
    ViewBag.Title = "ForbidEvent";
}

<h2>ForbidEvent</h2>

<section>
    <h2>@Html.LabelFor(t => t.Title)</h2>
    <div>
        @Html.TextBoxFor(t => t.Title)
    </div>
    <h2>@Html.LabelFor(r => r.resaon)</h2>
    <div>
        @Html.TextAreaFor(r => r.resaon)
    </div>
     <input type="submit" value="Envoyer" />
</section>